@import url("https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans|Roboto+Mono");

@media screen {
    
}
html{
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    opacity: 1;
    background-image: url(assets/v1016-b-09.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}
.navbar{
    margin: 0;
    padding: 0;
}
.bar{
    height: fit-content;
    position: fixed;
    z-index: 99;
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: rgb(29, 29, 29);
    opacity: 0.95;
    justify-content: space-between;
}
.bar img{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.bar .nav ul {
    margin: 0.8rem;
    display: flex;
    list-style: none;
}
.bar .nav li a{
    color: white;
    font-size: 1.4rem;
    font-family: "Ubuntu";
    padding: 2rem;
    text-decoration: none;
}
.bar .drop img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(201deg) brightness(104%) contrast(100%);
}
.bar .nav li a:hover{
    color: yellow;
}
.drop{
    position: relative;
}
.menu{
    margin-top: 0.5rem;
    position: absolute;
    display: none;
    z-index: 100;
    background-color: rgb(25, 25, 25);
    box-shadow: 0.1rem 0.1rem 1rem rgb(46, 46, 46);
}
.menu ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.menu li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bar .nav img{
    transform: rotate(90deg);
}
.drop:hover .menu{
    display: block;
}
.drop:hover img{
    filter: invert(99%) sepia(100%) saturate(7494%) hue-rotate(359deg) brightness(100%) contrast(102%);
    transform: rotate(180deg);
}

.foreground{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-right: 3rem;
    margin-left: 3rem;
    background-color: black;
    border-radius: 5rem;
    justify-content: center;
    opacity: 0.8;
}

::-webkit-scrollbar{
    width: 0.65rem;
}
::-webkit-scrollbar-thumb{
    background: gainsboro;
    border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover{
    background: grey;
}
::-webkit-scrollbar-track{
    background: transparent;
}

.content{
    color: white;
    font-family: "Open Sans";
    font-size: 1.2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    background-color: transparent;
    letter-spacing: 0.08rem;
}
.alias {
    font-size: 5rem;
    margin: 2rem;
    margin-top: 5rem;
    text-align: center;
    color: rgb(255, 0, 106);
    font-family: "Roboto Mono";
}
.name {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
    color: white;
    font-family: "Open Sans";
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blinking {
    from,to {border-right-color: transparent}
    50% {border-color: greenyellow;}
}

@keyframes blink-end {
    from, to {border-right-color: transparent}
}

@keyframes beating {
    from {transform: scale(2);}
    to {transform: scale(1.2);}
}
.box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.greeting {
    margin-top: 13rem;
    margin-left: 15rem;
    margin-right: 15rem;
    width: 25rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: black;
    justify-content: center;
    box-shadow: 0.1rem 0.1rem 1rem grey;
}

.message {
    justify-content: center;
}

h1 {
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: greenyellow;
    letter-spacing: 0.1rem;
    font-size: 4.5rem;
    font-family: "Ubuntu";
    white-space: nowrap;
    border-right: 0.15rem solid transparent;
    animation: typing 3.5s steps(20,end),
               blinking 0.5s step-end 9;
}

header {
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(89,66,255);
    font-weight: 700;
}

span {
    color: yellow;
}

.about{
    padding: 0.5rem;
    display: flexbox;
    justify-content: center;
}
.about article{
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1.5rem;
    text-align: justify;
}

.projects article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.projects article header{
    margin-top: 1rem;
    font-size: 2rem;
    color: rgb(255, 0, 106);    
}
#symphony-before, #philanthrobid-before, #blockscore-before{
    padding-top: 3.5rem;
    padding-left: 0.5rem;
    padding-right: 0,5rem;
}
#symphony, #philanthrobid, #blockscore{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: rgb(13, 0, 13);
    border-radius: 2rem;
    border-color: white;
    box-shadow: 0.01rem 0.01rem 0.6rem 0.01rem white;
    align-items: center;
}
.projects a{
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 2rem;
    font-family: "Open Sans";
    font-size: 0.9rem;
    width:fit-content;
    padding: 0.8rem;
}
.projects a img{
    transform: scale(1.3);
    margin-right: 1rem;
}
.projects a:hover{
    background-color:yellow;
    box-shadow: 0.1rem 0.1rem 0.8rem white;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.contact input, #message{
    font-size: 0.9rem;
    width: 100%;
    height: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(29, 29, 29);
    border-radius: 0.5rem;
    color: white;
    border: none;
    outline: none;
}
.contact #message{
    height: 10rem;
    text-align: top;
    resize: none;
}
.contact #submit{
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "Open Sans";
    background-color: green;
    border-radius: 0.5rem;
    border: none;
    padding-bottom: 1.8rem;
    width: 5rem;
    float: right;
}
.contact #submit:hover{
    background-color: rgb(14, 85, 0);
    cursor: pointer;
}

.footer{
    margin: 0.5rem;
}
.footer a{
    font-size: 1rem;
    text-decoration: none;
    color:rgb(53, 53, 255);
}
.footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 0.5rem;
    font-family: "Ubuntu";
    color: white;
    font-size: 1rem;
    background-color:rgb(58, 58, 58);
    justify-content: space-between;
}
footer .end-note {
    margin: 1rem;
    margin-top: 1.5rem;
}
footer .end-note img{
    animation: beating 0.9s linear infinite;
}
footer a img{
    justify-content: space-evenly;
    margin: 1rem;
}
footer a{
    color:yellow;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(201deg) brightness(104%) contrast(100%);
}

